In [1]:
student={
    'name':'ram',
    'age':22,
    'mark':77.5,
    'address':['ktm','pkr']
}
print(student)

{'name': 'ram', 'age': 22, 'mark': 77.5, 'address': ['ktm', 'pkr']}

In [2]:
print(student.keys())

dict_keys(['name', 'age', 'mark', 'address'])

In [3]:
print(student.values())

dict_values(['ram', 22, 77.5, ['ktm', 'pkr']])

In [4]:
print(student.items())

dict_items([('name', 'ram'), ('age', 22), ('mark', 77.5), ('address', ['ktm', 'pkr'])])

In [5]:
for i in student:
    print(i)

name
age
mark
address

In [6]:
for i in student.values():
    print(i)

ram
22
77.5
['ktm', 'pkr']

In [10]:
for keys,values in student.items():
    print(f"{keys} and {values}")

name and ram
age and 22
mark and 77.5
address and ['ktm', 'pkr']

In [11]:
print(student['name'])

ram

In [13]:
student['name']= 'shyam'
print(student)

{'name': 'shyam', 'age': 22, 'mark': 77.5, 'address': ['ktm', 'pkr']}

In [14]:
print(student['address'][1])

pkr

In [21]:
student['address'].insert(0,'thailand')
print(student)

{'name': 'shyam', 'age': 22, 'mark': 77.5, 'address': ['thailand', 'ktm', 'thailand', 'thailand', 'thailand', 'thailand', 'thailand', 'pkr']}

In [30]:
if 'thailand' in student['address']:
    print("it is here")
    print(student['address'].count('thailand'))
    student['address'].remove('thailand')
    print(student)

it is here
4
{'name': 'shyam', 'age': 22, 'mark': 77.5, 'address': ['ktm', 'thailand', 'thailand', 'thailand', 'pkr']}

In [32]:
my_list = [
    {'id': 1, 'name': 'John'},
    {'id': 2, 'name': 'Jane'},
    {'id': 1, 'name': 'John'},
    {'id': 3, 'name': 'Alice'}
]

seen = set()
result = []

for item in my_list:
    # Convert the dictionary into a tuple of its items
    item_tuple = tuple(item.items())
    
    # Check if the tuple is in the set of seen keys
    if item_tuple not in seen:
        result.append(dict(item))
        seen.add(item_tuple)

print(result)

[{'id': 1, 'name': 'John'}, {'id': 2, 'name': 'Jane'}, {'id': 3, 'name': 'Alice'}]

In [41]:
l1 = ['ktm','hello','pkr','hi']
print(l1)
l2 = l1.pop()
print(l2)

['ktm', 'hello', 'pkr', 'hi']
hi

In [49]:
def add(a,b):
    c=a+b
    print(c)
    return c
add(5,10)

15

15

In [50]:
res = add(10,15)
print(f"sum is {res}")

25
sum is 25

In [52]:
def fun1(a,b):
    print(a,b)

fun1(22,23)

22 23