In [21]:
import numpy as np
student={
    'name':'ram',
    'age':22,
    'mark':55
}
print(student)

{'name': 'ram', 'age': 22, 'mark': 55}

In [2]:
def fun1(a,b):
    print(f"{a} and {b}")
fun1(22,33)

22 and 33

In [6]:
def fun1(a,b):
    a+= 10
    b+= 20
    print(f"{a} and {b}")
    c = a + b
    return a,b,c
    
res = fun1(22,33)
n1,n2,n3 = res         #unpacking the tuple return in res fromm above function

print(f"sum of {n1} and {n2} is {n3} ")
print(f"sum is {res}")

32 and 53
sum of 32 and 53 is 85
sum is (32, 53, 85)

In [8]:
def func1(*args):
    
    print(args)
    for i in args:
        print(i)

func1(22,33,44)

(22, 33, 44)
22
33
44

# kwargs

In [31]:
def fun2(**kwargs):
    
    print(kwargs)
        
fun2(name='ram',age=22,mark=75)

{'name': 'ram', 'age': 22, 'mark': 75}

In [29]:
student={
    'science_student':{
        'name':'ram',
        'age':22
    },
    'arts_student':{
        'name':'shyam',
        'age':25
    },
    'mgmt_student':{
        'name':'hari',
        'age':30
    }
}
print(student)

{'science_student': {'name': 'ram', 'age': 22}, 'arts_student': {'name': 'shyam', 'age': 25}, 'mgmt_student': {'name': 'hari', 'age': 30}}

In [24]:
print(student['science_student']['name'])

ram

In [26]:
student['mgmt_student']['address']=['pkr','ctwn']

In [27]:
print(student)

{'science_student': {'name': 'ram', 'age': 22}, 'arts_student': {'name': 'shyam', 'age': 25}, 'mgmt_student': {'name': 'hari', 'age': 30, 'address': ['pkr', 'ctwn']}}

In [32]:
list1 = ['pkr','bktr','ktm']
list2 = ['ram','shyam','hari']
list3 = list1 + list2
list3

['pkr', 'bktr', 'ktm', 'ram', 'shyam', 'hari']

In [33]:
a = zip(list1,list2)
n_data = dict(a)
print(n_data)

{'pkr': 'ram', 'bktr': 'shyam', 'ktm': 'hari'}

In [35]:
list3 = dict(zip(list1,list2))
list3

{'pkr': 'ram', 'bktr': 'shyam', 'ktm': 'hari'}

In [44]:
a = str("this is test")

b = str(input("enter the word you want to check:"))

if b in a:
    print("it is there")
    
else:
    print("it is not there")

enter the word you want to check:tes
it is there

In [6]:
l1 = [1,2,3,4,5]

print(type(l1))

print(len(l1))

for i in l1:
    print(i)

print(f"sum is {sum(l1)}")

<class 'list'>
5
1
2
3
4
5
sum is 15

In [13]:
a = int(input("enter the number to check: "))

if a in l1:
    print("it has number in list")
else:
    print("no contain")

enter the number to check: 5
it has number in list

In [18]:
l1.append(2)
l1.append(3)
l1

[1, 2, 3, 4, 5, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3]

In [24]:
l1.insert(2,55)
l1

[1, 2, 55, 55, 3, 4, 5, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3]

In [25]:
print(l1[0:5])

[1, 2, 55, 55, 3]

In [34]:
l2 = []

n = int(input("enter the number you want to add: "))

for i in range(n):
    num = input("name you want to add: ")
    l2.append(num)

print(l2)

enter the number you want to add: 4
name you want to add: hi
name you want to add: this
name you want to add: is
name you want to add: yougesh
['hi', 'this', 'is ', 'yougesh']

In [41]:
detail={
    'name':'ram',
    'age': 22,
    'address':['ktm','pkr']
}
print(detail)
print(type(detail))

detail['address']=['ktm','pkr','htd']
print(detail)

{'name': 'ram', 'age': 22, 'address': ['ktm', 'pkr']}
<class 'dict'>
{'name': 'ram', 'age': 22, 'address': ['ktm', 'pkr', 'htd']}

In [42]:
print(detail.keys())

dict_keys(['name', 'age', 'address'])

In [43]:
print(detail.values())

dict_values(['ram', 22, ['ktm', 'pkr', 'htd']])

In [45]:
print(detail.items())

dict_items([('name', 'ram'), ('age', 22), ('address', ['ktm', 'pkr', 'htd'])])

In [48]:


try:
    pwd = input("enter the password: ")
    l = len(pwd)
    if l >= 8:
        print("strong")
    else:
        raise Exception("weak password")
        
except Exception as ex:
    print(ex)

enter the password: 123
weak password